body{
	background: #232323;
	margin: 0;
	font-family: "Avenir";
	text-shadow: 20px;
}

.square{
	width: 27%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition:background 0.7s;
	-webkit-transition:background 0.7s;
	-moz-transition:background 0.7s;
}

#container{
	max-width: 600px;
	margin: 0 auto;
	
}

h1{
	
	color: white;
	text-align: center;
	background: turquoise;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding-top: 20px;
	padding-bottom: 20px;
}

#colorDisplay{
	font-size: 200%;
}
#message{
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	border:none;
	background: none;
	text-transform: uppercase;
	font-family: "Avenir";
	font-weight: 700;
	height: 100%;
	color: black;
	letter-spacing: 1px;
	font-size: inherit;
}

#message2{
	background: #ff3399;
	text-align: center;
	height: 20px;
	padding-top: 
}

.selected{
	background: white;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	font-family: "Avenir";
	font-weight: 700;
	height: 100%;
	color: black;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.8s;
	-webkit-transition:all 0.7s;
	-moz-transition:all 0.7s;
	outline:none;
}

button:hover{
	color:#ff3399;
	background: black;
}
