body{
	background: url(https://images.unsplash.com/photo-1505475082603-e217c4a87795?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2ae05d001cd5f69bd69d2d6c4644148&auto=format&fit=crop&w=1050&q=80);
	background-size:cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
	text-sh
}
html{

	height:100%;
}
h1{
	font-size: 5em;
	font-weight: 700;
	
}
.navbar-custom{
	background-color: black;
	width: 100%;
}

#content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
